USE [master]
GO
/****** Object:  Database [FoodOrderingDB]    Script Date: 04-06-2026 12:42:17 ******/
CREATE DATABASE [FoodOrderingDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FoodOrderingDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\FoodOrderingDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FoodOrderingDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\FoodOrderingDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FoodOrderingDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FoodOrderingDB]
GO
/****** Object:  UserDefinedTableType [dbo].[FoodItem_Type]    Script Date: 04-06-2026 12:42:17 ******/
CREATE TYPE [dbo].[FoodItem_Type] AS TABLE(
	[FoodName] [varchar](100) NULL,
	[Category] [varchar](50) NULL,
	[Price] [decimal](10, 2) NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetFoodCountByCategory]    Script Date: 04-06-2026 12:42:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetFoodCountByCategory]
(
    @Category NVARCHAR(50)
)
RETURNS INT
AS
BEGIN
    DECLARE @Count INT;

    SELECT @Count = COUNT(*)
    FROM mst_FoodItem
    WHERE Category = @Category
    AND IsActive = 1;

    RETURN @Count;
END;
GO
/****** Object:  Table [dbo].[mst_FoodItem]    Script Date: 04-06-2026 12:42:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_FoodItem](
	[FoodItemId] [int] IDENTITY(1,1) NOT NULL,
	[FoodItemGuid] [uniqueidentifier] NULL,
	[FoodName] [varchar](100) NOT NULL,
	[Category] [varchar](50) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[FoodItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_FoodItems]    Script Date: 04-06-2026 12:42:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_FoodItems]
AS
SELECT
    FoodItemId,
    FoodItemGuid,
    FoodName,
    Category,
    Price
FROM mst_FoodItem
WHERE IsActive = 1;
GO
/****** Object:  Table [dbo].[mst_Role]    Script Date: 04-06-2026 12:42:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleGuid] [uniqueidentifier] NULL,
	[RoleName] [varchar](50) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mst_User]    Script Date: 04-06-2026 12:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mst_User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserGuid] [uniqueidentifier] NULL,
	[UserName] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[RoleId] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Cart]    Script Date: 04-06-2026 12:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Cart](
	[CartId] [int] IDENTITY(1,1) NOT NULL,
	[CartGuid] [uniqueidentifier] NULL,
	[UserId] [int] NOT NULL,
	[FoodItemId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Delivery]    Script Date: 04-06-2026 12:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Delivery](
	[DeliveryId] [int] IDENTITY(1,1) NOT NULL,
	[DeliveryGuid] [uniqueidentifier] NULL,
	[OrderId] [int] NOT NULL,
	[DeliveryAddress] [varchar](200) NULL,
	[DeliveryStatus] [varchar](50) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[DeliveryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Order]    Script Date: 04-06-2026 12:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderGuid] [uniqueidentifier] NULL,
	[UserId] [int] NOT NULL,
	[OrderDate] [datetime] NULL,
	[TotalAmount] [decimal](10, 2) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_OrderItem]    Script Date: 04-06-2026 12:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_OrderItem](
	[OrderItemId] [int] IDENTITY(1,1) NOT NULL,
	[OrderItemGuid] [uniqueidentifier] NULL,
	[OrderId] [int] NOT NULL,
	[FoodItemId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Payment]    Script Date: 04-06-2026 12:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Payment](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentGuid] [uniqueidentifier] NULL,
	[OrderId] [int] NOT NULL,
	[Amount] [decimal](10, 2) NULL,
	[PaymentMethod] [varchar](50) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FoodItem_Category]    Script Date: 04-06-2026 12:42:18 ******/
CREATE NONCLUSTERED INDEX [IX_FoodItem_Category] ON [dbo].[mst_FoodItem]
(
	[Category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FoodItem_FoodName]    Script Date: 04-06-2026 12:42:18 ******/
CREATE NONCLUSTERED INDEX [IX_FoodItem_FoodName] ON [dbo].[mst_FoodItem]
(
	[FoodName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[mst_FoodItem] ADD  DEFAULT (newid()) FOR [FoodItemGuid]
GO
ALTER TABLE [dbo].[mst_FoodItem] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[mst_FoodItem] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[mst_Role] ADD  DEFAULT (newid()) FOR [RoleGuid]
GO
ALTER TABLE [dbo].[mst_Role] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[mst_Role] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[mst_User] ADD  DEFAULT (newid()) FOR [UserGuid]
GO
ALTER TABLE [dbo].[mst_User] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[mst_User] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[tbl_Cart] ADD  DEFAULT (newid()) FOR [CartGuid]
GO
ALTER TABLE [dbo].[tbl_Cart] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_Cart] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[tbl_Delivery] ADD  DEFAULT (newid()) FOR [DeliveryGuid]
GO
ALTER TABLE [dbo].[tbl_Delivery] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_Delivery] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[tbl_Order] ADD  DEFAULT (newid()) FOR [OrderGuid]
GO
ALTER TABLE [dbo].[tbl_Order] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[tbl_Order] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_Order] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[tbl_OrderItem] ADD  DEFAULT (newid()) FOR [OrderItemGuid]
GO
ALTER TABLE [dbo].[tbl_OrderItem] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_OrderItem] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[tbl_Payment] ADD  DEFAULT (newid()) FOR [PaymentGuid]
GO
ALTER TABLE [dbo].[tbl_Payment] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_Payment] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[mst_User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[mst_Role] ([RoleId])
GO
ALTER TABLE [dbo].[mst_User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[tbl_Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_FoodItem] FOREIGN KEY([FoodItemId])
REFERENCES [dbo].[mst_FoodItem] ([FoodItemId])
GO
ALTER TABLE [dbo].[tbl_Cart] CHECK CONSTRAINT [FK_Cart_FoodItem]
GO
ALTER TABLE [dbo].[tbl_Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[mst_User] ([UserId])
GO
ALTER TABLE [dbo].[tbl_Cart] CHECK CONSTRAINT [FK_Cart_User]
GO
ALTER TABLE [dbo].[tbl_Delivery]  WITH CHECK ADD  CONSTRAINT [FK_Delivery_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[tbl_Order] ([OrderId])
GO
ALTER TABLE [dbo].[tbl_Delivery] CHECK CONSTRAINT [FK_Delivery_Order]
GO
ALTER TABLE [dbo].[tbl_Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[mst_User] ([UserId])
GO
ALTER TABLE [dbo].[tbl_Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[tbl_OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_FoodItem] FOREIGN KEY([FoodItemId])
REFERENCES [dbo].[mst_FoodItem] ([FoodItemId])
GO
ALTER TABLE [dbo].[tbl_OrderItem] CHECK CONSTRAINT [FK_OrderItem_FoodItem]
GO
ALTER TABLE [dbo].[tbl_OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[tbl_Order] ([OrderId])
GO
ALTER TABLE [dbo].[tbl_OrderItem] CHECK CONSTRAINT [FK_OrderItem_Order]
GO
ALTER TABLE [dbo].[tbl_Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[tbl_Order] ([OrderId])
GO
ALTER TABLE [dbo].[tbl_Payment] CHECK CONSTRAINT [FK_Payment_Order]
GO
/****** Object:  StoredProcedure [dbo].[usp_AddFoodItem]    Script Date: 04-06-2026 12:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_AddFoodItem]
(
    @FoodName VARCHAR(100),
    @Category VARCHAR(50),
    @Price DECIMAL(10,2),
    @CreatedBy VARCHAR(100)
)
AS
BEGIN
    BEGIN TRY

        INSERT INTO mst_FoodItem
        (
            FoodItemGuid,
            FoodName,
            Category,
            Price,
            IsActive,
            CreatedOn,
            CreatedBy
        )
        VALUES
        (
            NEWID(),
            @FoodName,
            @Category,
            @Price,
            1,
            GETDATE(),
            @CreatedBy
        );

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[usp_BulkInsertFoodItems]    Script Date: 04-06-2026 12:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_BulkInsertFoodItems]
(
    @FoodItems FoodItem_Type READONLY
)
AS
BEGIN

    INSERT INTO mst_FoodItem
    (
        FoodItemGuid,
        FoodName,
        Category,
        Price,
        IsActive,
        CreatedOn,
        CreatedBy
    )
    SELECT
        NEWID(),
        FoodName,
        Category,
        Price,
        1,
        GETDATE(),
        'BulkUpload'
    FROM @FoodItems;

END
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteFoodItem]    Script Date: 04-06-2026 12:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_DeleteFoodItem]
(
    @FoodItemId INT,
    @UpdatedBy VARCHAR(100)
)
AS
BEGIN

    UPDATE mst_FoodItem
    SET IsActive = 0,
        UpdatedOn = GETDATE(),
        UpdatedBy = @UpdatedBy
    WHERE FoodItemId = @FoodItemId

END
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteFoodItemByGuid]    Script Date: 04-06-2026 12:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_DeleteFoodItemByGuid]
(
    @FoodItemGuid UNIQUEIDENTIFIER,
    @UpdatedBy VARCHAR(100)
)
AS
BEGIN
    UPDATE mst_FoodItem
    SET
        IsActive = 0,
        UpdatedOn = GETDATE(),
        UpdatedBy = @UpdatedBy
    WHERE FoodItemGuid = @FoodItemGuid
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetFoodItemByGuid]    Script Date: 04-06-2026 12:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetFoodItemByGuid]
(
    @FoodItemGuid UNIQUEIDENTIFIER
)
AS
BEGIN
    SELECT *
    FROM mst_FoodItem
    WHERE FoodItemGuid = @FoodItemGuid
    AND IsActive = 1
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetFoodItemById]    Script Date: 04-06-2026 12:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetFoodItemById]
(
    @FoodItemId INT
)
AS
BEGIN
    SELECT *
    FROM mst_FoodItem
    WHERE FoodItemId = @FoodItemId
    AND IsActive = 1
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetFoodItems]    Script Date: 04-06-2026 12:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetFoodItems]
AS
BEGIN
    SELECT *
    FROM mst_FoodItem
    WHERE IsActive = 1
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetFoodItemsFiltered]    Script Date: 04-06-2026 12:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetFoodItemsFiltered]
(
    @FoodName VARCHAR(100) = NULL,
    @Category VARCHAR(50) = NULL
)
AS
BEGIN

    SELECT
        FoodItemId,
        FoodItemGuid,
        FoodName,
        Category,
        Price
    FROM mst_FoodItem
    WHERE IsActive = 1
    AND (@FoodName IS NULL OR FoodName LIKE '%' + @FoodName + '%')
    AND (@Category IS NULL OR Category = @Category)

END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetFoodItemsPagination]    Script Date: 04-06-2026 12:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetFoodItemsPagination]
(
    @PageNumber INT,
    @PageSize INT
)
AS
BEGIN

    SELECT
        COUNT(*) OVER() AS TotalRecords,
        FoodItemId,
        FoodName,
        Category,
        Price
    FROM mst_FoodItem
    WHERE IsActive = 1
    ORDER BY FoodItemId
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY

END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetUserByEmail]    Script Date: 04-06-2026 12:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetUserByEmail]
(
    @Email VARCHAR(100)
)
AS
BEGIN
    SELECT
        UserId,
        UserGuid,
        UserName,
        Email,
        PasswordHash,
        RoleId,
        IsActive
    FROM mst_User
    WHERE Email = @Email
    AND IsActive = 1
END
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateFoodItem]    Script Date: 04-06-2026 12:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_UpdateFoodItem]
(
    @FoodItemId INT,
    @FoodName VARCHAR(100),
    @Category VARCHAR(50),
    @Price DECIMAL(10,2),
    @UpdatedBy VARCHAR(100)
)
AS
BEGIN

    UPDATE mst_FoodItem
    SET FoodName = @FoodName,
        Category = @Category,
        Price = @Price,
        UpdatedOn = GETDATE(),
        UpdatedBy = @UpdatedBy
    WHERE FoodItemId = @FoodItemId

END
GO
USE [master]
GO
